.elementor-127 .elementor-element.elementor-element-8c0746f{padding:330px 35px 0px 35px;}.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-primary{font-size:93px;font-weight:800;line-height:109px;letter-spacing:2.33px;margin:0px 0px 45px 0px;}.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-secondary{font-size:24px;font-weight:500;line-height:39px;max-width:550px;}.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-description{color:rgba(15,15,15,0.80);font-size:21px;font-weight:300;line-height:37px;max-width:502px;}.elementor-127 .elementor-element.elementor-element-408a143{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-127 .elementor-element.elementor-element-0dec039 > .elementor-element-populated{margin:0px 0px 0px 50px;--e-column-margin-right:0px;--e-column-margin-left:50px;}.elementor-127 .elementor-element.elementor-element-8863901{z-index:5;position:relative;}.elementor-127 .elementor-element.elementor-element-82d872f{position:absolute;top:-33px;right:-41px;}.elementor-127 .elementor-element.elementor-element-ac23eb2 > .elementor-container{max-width:1650px;}.elementor-127 .elementor-element.elementor-element-ac23eb2{padding:150px 35px 0px 35px;}.elementor-127 .elementor-element.elementor-element-6fe1c04 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-0a3750b .col-title, .elementor-127 .elementor-element.elementor-element-0a3750b .col-title a{font-size:284px;font-weight:300;line-height:220px;}.elementor-127 .elementor-element.elementor-element-0a3750b .col-subtitle{font-size:37px;font-weight:800;line-height:48px;letter-spacing:0.94px;}.elementor-127 .elementor-element.elementor-element-0a3750b .widget-content{font-size:17px;font-weight:300;line-height:30px;margin-top:12px;margin-bottom:35px;}.elementor-127 .elementor-element.elementor-element-0a3750b .aux-widget-text .aux-text-widget-content{padding:0px 20px 0px 110px;}.elementor-127 .elementor-element.elementor-element-0a3750b .aux-widget-advanced-text{text-align:left !important;}.elementor-127 .elementor-element.elementor-element-080c03c > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .col-title, .elementor-127 .elementor-element.elementor-element-1ee48f3 .col-title a{font-size:295px;font-weight:300;line-height:220px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .col-subtitle{font-size:37px;font-weight:800;line-height:48px;letter-spacing:0.94px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .widget-content{font-size:17px;font-weight:300;line-height:30px;margin-top:12px;margin-bottom:35px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 181px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .aux-widget-advanced-text{text-align:left !important;}.elementor-127 .elementor-element.elementor-element-f83d64a > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .col-title, .elementor-127 .elementor-element.elementor-element-6ec51f4 .col-title a{font-size:270px;font-weight:300;line-height:1em;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .col-subtitle{font-size:37px;font-weight:800;line-height:48px;letter-spacing:0.94px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .widget-content{font-size:17px;font-weight:300;line-height:30px;margin-top:12px;margin-bottom:35px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .aux-widget-text .aux-text-widget-content{padding:0px 0px 0px 181px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .aux-widget-advanced-text{text-align:left !important;}.elementor-127 .elementor-element.elementor-element-93db441{margin-top:13%;margin-bottom:0%;padding:0px 35px 0px 35px;}.elementor-127 .elementor-element.elementor-element-e8b0624 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-127 .elementor-element.elementor-element-e8b0624 .aux-modern-heading-primary{font-size:24px;font-weight:400;line-height:29px;margin:0px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-e8b0624 .aux-modern-heading-secondary{font-size:37px;font-weight:800;line-height:48px;letter-spacing:0.94px;}.elementor-127 .elementor-element.elementor-element-e8b0624{animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-127 .elementor-element.elementor-element-b1b261e{margin-top:94px;margin-bottom:180px;}.elementor-127 .elementor-element.elementor-element-9deb616 .col-title, .elementor-127 .elementor-element.elementor-element-9deb616 .col-title a{font-size:30px;font-weight:600;line-height:35px;}.elementor-127 .elementor-element.elementor-element-9deb616 .aux-staff-content  .col-title{margin-bottom:8px;}.elementor-127 .elementor-element.elementor-element-9deb616 .col-subtitle{color:rgba(15,15,15,0.70) !important;margin-bottom:11px;}.elementor-127 .elementor-element.elementor-element-9deb616 .aux-staff-content  .col-subtitle{font-size:19px;font-weight:300;font-style:normal;line-height:27px;}.elementor-127 .elementor-element.elementor-element-9deb616 .aux-widget-staff > div{padding:25px 25px 25px 25px;}.elementor-127 .elementor-element.elementor-element-768ebc9 .col-title, .elementor-127 .elementor-element.elementor-element-768ebc9 .col-title a{font-size:30px;font-weight:600;line-height:35px;}.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-staff-content  .col-title{margin-bottom:8px;}.elementor-127 .elementor-element.elementor-element-768ebc9 .col-subtitle{color:rgba(15,15,15,0.70) !important;margin-bottom:11px;}.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-staff-content  .col-subtitle{font-size:19px;font-weight:300;font-style:normal;line-height:27px;}.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-widget-staff > div{padding:107px 25px 0px 25px;}.elementor-127 .elementor-element.elementor-element-fc5ae77 .col-title, .elementor-127 .elementor-element.elementor-element-fc5ae77 .col-title a{font-size:30px;font-weight:600;line-height:35px;}.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-staff-content  .col-title{margin-bottom:8px;}.elementor-127 .elementor-element.elementor-element-fc5ae77 .col-subtitle{color:rgba(15,15,15,0.70) !important;margin-bottom:11px;}.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-staff-content  .col-subtitle{font-size:19px;font-weight:300;font-style:normal;line-height:27px;}.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-widget-staff > div{padding:25px 25px 25px 25px;}.elementor-127 .elementor-element.elementor-element-1d78953 .col-title, .elementor-127 .elementor-element.elementor-element-1d78953 .col-title a{font-size:30px;font-weight:600;line-height:35px;}.elementor-127 .elementor-element.elementor-element-1d78953 .aux-staff-content  .col-title{margin-bottom:8px;}.elementor-127 .elementor-element.elementor-element-1d78953 .col-subtitle{color:rgba(15,15,15,0.70) !important;margin-bottom:11px;}.elementor-127 .elementor-element.elementor-element-1d78953 .aux-staff-content  .col-subtitle{font-size:19px;font-weight:300;font-style:normal;line-height:27px;}.elementor-127 .elementor-element.elementor-element-1d78953 .aux-widget-staff > div{padding:107px 25px 0px 25px;}@media(max-width:1024px){.elementor-127 .elementor-element.elementor-element-8c0746f{margin-top:0px;margin-bottom:0px;}.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-primary{font-size:57px;margin:0px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-secondary{font-size:16px;line-height:29px;letter-spacing:0px;}.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-description{font-size:16px;line-height:24px;}.elementor-127 .elementor-element.elementor-element-0dec039 > .elementor-element-populated{margin:0px 0px 0px 25px;--e-column-margin-right:0px;--e-column-margin-left:25px;}.elementor-127 .elementor-element.elementor-element-6fe1c04{max-width:80%;}.elementor-127 .elementor-element.elementor-element-0a3750b .col-title, .elementor-127 .elementor-element.elementor-element-0a3750b .col-title a{font-size:179px;}.elementor-127 .elementor-element.elementor-element-0a3750b .col-subtitle{font-size:32px;}.elementor-127 .elementor-element.elementor-element-0a3750b .widget-content{font-size:16px;line-height:24px;}.elementor-127 .elementor-element.elementor-element-0a3750b .aux-widget-text .aux-text-widget-content{padding:23px 0px 0px 80px;}.elementor-127 .elementor-element.elementor-element-080c03c > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-127 .elementor-element.elementor-element-080c03c{max-width:80%;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .col-title, .elementor-127 .elementor-element.elementor-element-1ee48f3 .col-title a{font-size:179px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .col-subtitle{font-size:32px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .widget-content{font-size:16px;line-height:24px;margin-top:8px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .aux-widget-text .aux-text-widget-content{padding:23px 0px 0px 119px;}.elementor-127 .elementor-element.elementor-element-f83d64a > .elementor-element-populated{margin:9px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-127 .elementor-element.elementor-element-f83d64a{max-width:80%;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .col-title, .elementor-127 .elementor-element.elementor-element-6ec51f4 .col-title a{font-size:179px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .col-subtitle{font-size:32px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .widget-content{font-size:16px;line-height:24px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .aux-widget-text .aux-text-widget-content{padding:33px 0px 0px 139px;}.elementor-127 .elementor-element.elementor-element-93db441{margin-top:100px;margin-bottom:0px;}.elementor-127 .elementor-element.elementor-element-600b468 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-9deb616 .col-title, .elementor-127 .elementor-element.elementor-element-9deb616 .col-title a{font-size:25px;}.elementor-127 .elementor-element.elementor-element-9deb616 .aux-staff-content  .col-subtitle{font-size:16px;line-height:15px;}.elementor-127 .elementor-element.elementor-element-9deb616 .aux-widget-staff > div{padding:2px 2px 2px 2px;}.elementor-127 .elementor-element.elementor-element-fb95bd3 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-768ebc9 .col-title, .elementor-127 .elementor-element.elementor-element-768ebc9 .col-title a{font-size:19px;line-height:15px;}.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-staff-content  .col-subtitle{font-size:16px;}.elementor-127 .elementor-element.elementor-element-43376ab > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-fc5ae77 .col-title, .elementor-127 .elementor-element.elementor-element-fc5ae77 .col-title a{font-size:19px;line-height:15px;}.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-staff-content  .col-subtitle{font-size:16px;}.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-widget-staff > div{padding:2px 2px 2px 2px;}.elementor-127 .elementor-element.elementor-element-a8d58cf > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-1d78953 .col-title, .elementor-127 .elementor-element.elementor-element-1d78953 .col-title a{font-size:19px;}.elementor-127 .elementor-element.elementor-element-1d78953 .aux-staff-content  .col-subtitle{font-size:16px;line-height:15px;}}@media(max-width:767px){.elementor-127 .elementor-element.elementor-element-8c0746f{margin-top:100px;margin-bottom:0px;padding:55px 25px 0px 25px;}.elementor-127 .elementor-element.elementor-element-ffbc8d2 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 5px 0px 5px;}.elementor-127 .elementor-element.elementor-element-0dec039 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-127 .elementor-element.elementor-element-8863901{top:0px;right:22px;}.elementor-127 .elementor-element.elementor-element-82d872f{top:-22px;right:-17px;}.elementor-127 .elementor-element.elementor-element-ac23eb2{padding:35px 25px 0px 25px;}.elementor-127 .elementor-element.elementor-element-6fe1c04{min-width:100%;}.elementor-127 .elementor-element.elementor-element-0a3750b .col-title, .elementor-127 .elementor-element.elementor-element-0a3750b .col-title a{font-size:197px;}.elementor-127 .elementor-element.elementor-element-0a3750b .col-subtitle{font-size:27px;line-height:39px;}.elementor-127 .elementor-element.elementor-element-0a3750b .widget-content{font-size:15px;}.elementor-127 .elementor-element.elementor-element-0a3750b .aux-widget-text .aux-text-widget-content{padding:13px 0px 0px 132px;}.elementor-127 .elementor-element.elementor-element-080c03c > .elementor-element-populated{margin:50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-127 .elementor-element.elementor-element-080c03c{min-width:100%;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .col-title, .elementor-127 .elementor-element.elementor-element-1ee48f3 .col-title a{font-size:197px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .col-subtitle{font-size:27px;line-height:39px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .widget-content{font-size:15px;}.elementor-127 .elementor-element.elementor-element-1ee48f3 .aux-widget-text .aux-text-widget-content{padding:13px 0px 0px 132px;}.elementor-127 .elementor-element.elementor-element-f83d64a > .elementor-element-populated{margin:50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-127 .elementor-element.elementor-element-f83d64a{max-width:100%;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .col-title, .elementor-127 .elementor-element.elementor-element-6ec51f4 .col-title a{font-size:197px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .col-subtitle{font-size:27px;line-height:39px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .widget-content{font-size:15px;}.elementor-127 .elementor-element.elementor-element-6ec51f4 .aux-widget-text .aux-text-widget-content{padding:13px 0px 0px 132px;}.elementor-127 .elementor-element.elementor-element-93db441{margin-top:50px;margin-bottom:100px;padding:0px 25px 0px 25px;}.elementor-127 .elementor-element.elementor-element-e8b0624 .aux-modern-heading-primary{font-size:19px;}.elementor-127 .elementor-element.elementor-element-e8b0624 .aux-modern-heading-secondary{font-size:32px;}.elementor-127 .elementor-element.elementor-element-b1b261e{margin-top:25px;margin-bottom:0px;padding:0px 25px 0px 25px;}.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-widget-staff > div{padding:65px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-widget-staff > div{padding:65px 0px 0px 0px;}.elementor-127 .elementor-element.elementor-element-1d78953 .aux-widget-staff > div{padding:65px 0px 0px 0px;}}@media(min-width:768px){.elementor-127 .elementor-element.elementor-element-ffbc8d2{width:44.007%;}.elementor-127 .elementor-element.elementor-element-0dec039{width:55.957%;}.elementor-127 .elementor-element.elementor-element-6fe1c04{width:29.903%;}.elementor-127 .elementor-element.elementor-element-080c03c{width:36.769%;}}@media(max-width:1024px) and (min-width:768px){.elementor-127 .elementor-element.elementor-element-6fe1c04{width:100%;}.elementor-127 .elementor-element.elementor-element-080c03c{width:100%;}.elementor-127 .elementor-element.elementor-element-f83d64a{width:100%;}}/* Start custom CSS for aux_modern_heading, class: .elementor-element-408a143 */@media screen and (max-width: 1025px){
.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-secondary{
    height: 87px;
    overflow: hidden;
}
.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-description{
    height: 185px;
    overflow: hidden;
}
}
@media screen and (max-width: 1129px)and (min-width: 1025px){

.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-description{
   height: 339px;
    overflow: hidden;

}
.elementor-127 .elementor-element.elementor-element-408a143 .aux-modern-heading-primary{
    font-size:83px;
}
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-0a3750b */.elementor-127 .elementor-element.elementor-element-0a3750b .col-title {
   position: absolute;
   left: 0;
   top:0px;
   margin-top: 0;
     background: rgb(111,182,255);
background: linear-gradient(0deg, rgba(111,182,255,1) 15%, rgba(55,39,254,1) 52%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 1273px) and (min-width: 1025px){

.elementor-127 .elementor-element.elementor-element-0a3750b .aux-text-widget-content{
    padding: 0px 0px 0px 98px!important;
}
}
@media only screen and (max-width: 767px){
 .elementor-127 .elementor-element.elementor-element-0a3750b .col-title {
     left: 19px;
}
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-1ee48f3 */.elementor-127 .elementor-element.elementor-element-1ee48f3 .col-title {
   position: absolute;
   left: 0;
   top:0px;
   margin-top: 0;
background: rgb(61,41,238);
background: linear-gradient(180deg, rgba(61,41,238,1) 5%, rgba(200,64,200,1) 55%, rgba(253,73,185,1) 582%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for aux_text, class: .elementor-element-6ec51f4 */.elementor-127 .elementor-element.elementor-element-6ec51f4 .col-title {
   position: absolute;
   left: 0;
   top:0px;
   margin-top: 0;
background: rgb(254,166,75);
background: linear-gradient(180deg, rgba(254,166,75,1) 16%, rgba(248,65,192,1) 66%, rgba(251,112,138,1) 582%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media only screen and (min-width:1025px) {
.elementor-127 .elementor-element.elementor-element-6ec51f4 .col-title {
    margin-top: -48px;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ac23eb2 */.elementor-127 .elementor-element.elementor-element-ac23eb2 .aux-widget-text .aux-text-widget-content .widget-content p{
   max-width: 339px;
}
@media only screen and (min-width: 1025px){
.elementor-127 .elementor-element.elementor-element-ac23eb2 .col-subtitle{
   max-width: 79%;
}
}
@media screen and (max-width: 1025px){
    .elementor-127 .elementor-element.elementor-element-ac23eb2 .aux-widget-text .aux-text-widget-content .widget-content p{
   max-width: 80%!important;
}
}
@media only screen and (max-width: 1273px) and (min-width: 1025px){
.elementor-127 .elementor-element.elementor-element-ac23eb2 .col-subtitle{
    font-size: 24px;
}
.elementor-127 .elementor-element.elementor-element-ac23eb2 .widget-content{
    font-size: 14px;
    line-height: 25px;
}
.elementor-127 .elementor-element.elementor-element-ac23eb2 .col-title{
    font-size: 243px;
}
.elementor-127 .elementor-element.elementor-element-ac23eb2 .aux-text-widget-content{
    padding: 0px 0px 0px 148px!important;
}
}
@media only screen and (max-width: 1025px){
.elementor-127 .elementor-element.elementor-element-ac23eb2 .widget-content p{
   height: 72px;
    overflow: hidden;
}
}
@media only screen and (max-width: 1025px)and (min-width: 767px){
.elementor-127 .elementor-element.elementor-element-ac23eb2 .elementor-top-column{
   margin: auto!important;
 
}
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-9deb616 */.elementor-127 .elementor-element.elementor-element-9deb616 .aux-widget-staff .aux-staff-footer{
    border-top: none;
}
.elementor-127 .elementor-element.elementor-element-9deb616 .aux-staff-content{
   position: relative;
}
.elementor-127 .elementor-element.elementor-element-9deb616 .aux-staff-footer{
    position: absolute;
    top: -98px;
    right: 0;
    left: 0;
    z-index: 5;
}
.elementor-127 .elementor-element.elementor-element-9deb616 .aux-social-list{
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
}

.elementor-127 .elementor-element.elementor-element-9deb616 .aux-media-image{
  position: relative;
  z-index: 1;
}
.elementor-127 .elementor-element.elementor-element-9deb616 .aux-media-image:before{   
  content: '';
  position: absolute;
  background: rgb(105,187,238);
  background: linear-gradient(0deg, rgba(105,187,238,1) 0%, rgba(255,255,255,0.08167016806722693) 100%);
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
  z-index: 55;
  opacity: 0;
    
}
.elementor-127 .elementor-element.elementor-element-9deb616:hover .aux-social-list, .elementor-127 .elementor-element.elementor-element-9deb616:hover .aux-media-image:before{
  opacity: 1;
   transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-600b468 */.elementor-127 .elementor-element.elementor-element-600b468 .aux-media-image{
    position: relative;
}

.elementor-127 .elementor-element.elementor-element-600b468 .aux-media-image:after{
    content: '';
    background-color: transparent;
    border: 5px solid #5AB5ED;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius:100%; 
    opacity: 0;
     transform: scale(1.10);
  transition: all .5s cubic-bezier(.59,1,.22,1);
}
.elementor-127 .elementor-element.elementor-element-600b468:hover .aux-media-image:after{
       border: 5px solid #5AB5ED;
    border-radius: 100%;
  transition: all .5s cubic-bezier(.59,1,.22,1);
 opacity: 1;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-768ebc9 */.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-widget-staff .aux-staff-footer{
    border-top: none;
}
.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-staff-content{
   position: relative;
}
.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-staff-footer{
    position: absolute;
    top: -98px;
    right: 0;
    left: 0;
    z-index: 5;
}
.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-social-list{
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
}

.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-media-image{
  position: relative;
  z-index: 1;
}
.elementor-127 .elementor-element.elementor-element-768ebc9 .aux-media-image:before{   
  content: '';
  position: absolute;
  background: rgb(105,187,238);
  background: linear-gradient(0deg, rgba(105,187,238,1) 0%, rgba(255,255,255,0.08167016806722693) 100%);
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
  z-index: 55;
  opacity: 0;
    
}
.elementor-127 .elementor-element.elementor-element-768ebc9:hover .aux-social-list, .elementor-127 .elementor-element.elementor-element-768ebc9:hover .aux-media-image:before{
  opacity: 1;
   transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-fb95bd3 */.elementor-127 .elementor-element.elementor-element-fb95bd3 .aux-media-image:after{
    content: '';
    background-color: transparent;
    border: 5px solid #5AB5ED;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius:100%; 
    opacity: 0;
     transform: scale(1.10);
  transition: all .5s cubic-bezier(.59,1,.22,1);
  
  
    
}
.elementor-127 .elementor-element.elementor-element-fb95bd3:hover .aux-media-image:after{
       border: 5px solid #5AB5ED;
    border-radius: 100%;
  transition: all .5s cubic-bezier(.59,1,.22,1);
 opacity: 1;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-fc5ae77 */.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-widget-staff .aux-staff-footer{
    border-top: none;
}
.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-staff-content{
   position: relative;
}
.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-staff-footer{
    position: absolute;
    top: -98px;
    right: 0;
    left: 0;
    z-index: 5;
}
.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-social-list{
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
}

.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-media-image{
  position: relative;
  z-index: 1;
}
.elementor-127 .elementor-element.elementor-element-fc5ae77 .aux-media-image:before{   
  content: '';
  position: absolute;
  background: rgb(105,187,238);
  background: linear-gradient(0deg, rgba(105,187,238,1) 0%, rgba(255,255,255,0.08167016806722693) 100%);
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
  z-index: 55;
  opacity: 0;
    
}
.elementor-127 .elementor-element.elementor-element-fc5ae77:hover .aux-social-list, .elementor-127 .elementor-element.elementor-element-fc5ae77:hover .aux-media-image:before{
  opacity: 1;
   transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-43376ab */.elementor-127 .elementor-element.elementor-element-43376ab .aux-media-image:after{
    content: '';
    background-color: transparent;
    border: 5px solid #5AB5ED;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius:100%; 
    opacity: 0;
     transform: scale(1.10);
  transition: all .5s cubic-bezier(.59,1,.22,1);
}
.elementor-127 .elementor-element.elementor-element-43376ab:hover .aux-media-image:after{
       border: 5px solid #5AB5ED;
    border-radius: 100%;
  transition: all .5s cubic-bezier(.59,1,.22,1);
 opacity: 1;
}/* End custom CSS */
/* Start custom CSS for aux_staff, class: .elementor-element-1d78953 */.elementor-127 .elementor-element.elementor-element-1d78953 .aux-widget-staff .aux-staff-footer{
    border-top: none;
}
.elementor-127 .elementor-element.elementor-element-1d78953 .aux-staff-content{
   position: relative;
}
.elementor-127 .elementor-element.elementor-element-1d78953 .aux-staff-footer{
    position: absolute;
    top: -98px;
    right: 0;
    left: 0;
    z-index: 5;
}
.elementor-127 .elementor-element.elementor-element-1d78953 .aux-social-list{
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
}

.elementor-127 .elementor-element.elementor-element-1d78953 .aux-media-image{
  position: relative;
  z-index: 1;
}
.elementor-127 .elementor-element.elementor-element-1d78953 .aux-media-image:before{   
  content: '';
  position: absolute;
  background: rgb(105,187,238);
  background: linear-gradient(0deg, rgba(105,187,238,1) 0%, rgba(255,255,255,0.08167016806722693) 100%);
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
  z-index: 55;
  opacity: 0;
    
}
.elementor-127 .elementor-element.elementor-element-1d78953:hover .aux-social-list, .elementor-127 .elementor-element.elementor-element-1d78953:hover .aux-media-image:before{
  opacity: 1;
   transition: opacity 0.6s cubic-bezier(.19,1,.22,1) 60ms;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-a8d58cf */.elementor-127 .elementor-element.elementor-element-a8d58cf .aux-media-image:after{
    content: '';
    background-color: transparent;
    border: 5px solid #5AB5ED;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius:100%; 
    opacity: 0;
     transform: scale(1.10);
  transition: all .5s cubic-bezier(.59,1,.22,1);
  
  
    
}
.elementor-127 .elementor-element.elementor-element-a8d58cf:hover .aux-media-image:after{
       border: 5px solid #5AB5ED;
    border-radius: 100%;
  transition: all .5s cubic-bezier(.59,1,.22,1);
 opacity: 1;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-b1b261e */@media only screen and (max-width: 767px) and (min-width: 450px){
.elementor-127 .elementor-element.elementor-element-b1b261e .aux-staff-container{
      margin-right: 24%;
    margin-left: 24%;
}
}/* End custom CSS */